<div class="flex justify-center">
  <a class="text-center text-black text-6xl bg-white">皮毛小室</a>
</div>
<p></p>
<button type="button"><img src="https://cf.shopee.tw/file/12a82881420e73ea015f932624e4d4ad_tn"></button>


<div class="flex justify-center grid-cols-4">
  <kendo-avatar [imageSrc]="image" size="large"></kendo-avatar>
  <button kendoButton fillMode="flat" [imageUrl]="image">Home</button>
  <kendo-dropdownbutton [data]="data">羊毛氈選擇
  </kendo-dropdownbutton>
  <kendo-dropdownbutton [data]="data">寵物選物
  </kendo-dropdownbutton>
  <kendo-dropdownbutton [data]="data">羊毛氈選擇
  </kendo-dropdownbutton>
  <kendo-dropdownbutton [data]="data">寵物選物
  </kendo-dropdownbutton>
  &nbsp; &nbsp; &nbsp;

  <kendo-avatar iconClass="k-icon k-i-facebook" size="large"></kendo-avatar>


</div>

<div>
  <kendo-floatingactionbutton buttonClass="k-p-0" [dialItems]="items">
    <ng-template kendoFloatingActionButtonTemplate>
      <kendo-avatar shape="circle" [imageSrc]="image"></kendo-avatar>
    </ng-template>
  </kendo-floatingactionbutton>
</div>


<div class="grid grid-cols-4 gap-4">
  <div>
    <kendo-card>
      <img kendoCardMedia
        src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/card/assets/waffles.jpg" />
      <kendo-card-body>
        <h4>Pumpkin Waffles</h4>
        <div *ngIf="expanded">
          <hr kendoCardSeparator />
          <div class="recipe-wrap">
            Mix together flour, baking powder, salt, cinnamon, nutmeg, ginger,
            and cloves in a large bowl. In a second bowl, add egg yolks,
            sugar, pumpkin, milk, and oil; Whip the egg until stiff peaks
            form. Gently fold in the flour mixture followed by the whipped egg
            whites. Cook according to your waffle iron directions. Serve with
            butter and maple syrup.
          </div>
        </div>
      </kendo-card-body>
      <hr kendoCardSeparator *ngIf="horizontalStretched" />
      <kendo-card-actions [orientation]="actionsOrientation" [layout]="actionsLayout">
        <button kendoButton fillMode="flat" (click)="toggleLike()">
          <span [ngClass]="heartIcon()"></span>
          Like
        </button>
        <hr kendoCardSeparator orientation="vertical" *ngIf="horizontalStretched" />
        <button kendoButton fillMode="flat" themeColor="primary" (click)="toggleRecipe()">
          <span class="k-icon k-i-more-vertical"></span>
          {{ btnText }}
        </button>
      </kendo-card-actions>

    </kendo-card>
  </div>
    <div></div>
  <div>
    <kendo-card>
      <img kendoCardMedia
        src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/card/assets/waffles.jpg" />
      <kendo-card-body>
        <h4>Pumpkin Waffles</h4>
        <div *ngIf="expanded">
          <hr kendoCardSeparator />
          <div class="recipe-wrap">
            Mix together flour, baking powder, salt, cinnamon, nutmeg, ginger,
            and cloves in a large bowl. In a second bowl, add egg yolks,
            sugar, pumpkin, milk, and oil; Whip the egg until stiff peaks
            form. Gently fold in the flour mixture followed by the whipped egg
            whites. Cook according to your waffle iron directions. Serve with
            butter and maple syrup.
          </div>
        </div>
      </kendo-card-body>
      <hr kendoCardSeparator *ngIf="horizontalStretched" />
      <kendo-card-actions [orientation]="actionsOrientation" [layout]="actionsLayout">
        <button kendoButton fillMode="flat" (click)="toggleLike()">
          <span [ngClass]="heartIcon()"></span>
          Like
        </button>
        <hr kendoCardSeparator orientation="vertical" *ngIf="horizontalStretched" />
        <button kendoButton fillMode="flat" themeColor="primary" (click)="toggleRecipe()">
          <span class="k-icon k-i-more-vertical"></span>
          {{ btnText }}
        </button>
      </kendo-card-actions>

    </kendo-card>
  </div>
  <div>